# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Eclipse
.project
.classpath
.settings/
bin/
tmp/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
out/

# VS Code
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Spring Boot devtools
spring-boot-devtools.jar

# Others
*.swp
.DS_Store
.env